.header {
    min-height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.header a[class='active']{
    text-decoration: underline;
    color: #8d8d8d;}