.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
   }

.users {
    grid-area: 1 / 1 / 2 / 2;
}

.posts {
    grid-area: 1 / 2 / 2 / 3;
}

.comments {
    grid-area: 2 / 1 / 3 / 3;
}
.user, .post, .comment {
    margin: 15px;
}